*{
    box-sizing: border-box;
    line-height: 1,7;
}
body{
    font-size: 14px;
    margin: 0;
    background-image:url(./assets/img/Site-background-light.png)
}
.main-article{
    min-width: 720px;
    width: 50%;
    background-color: rgb(212, 212, 212);
    margin: auto;
    padding: 15px;
    line-height: 1.7;
}
.table-history{
border-collapse: collapse;
width: 70%;
 background-color: rgb(255, 255, 255);
}
.table-history th{
border: 1px solid rgb(194, 194, 194);
color: rgb(0, 6, 168);
background-color: rgb(234,236,240);
 
}

.table-history td{
    border: 1px solid rgb(190, 189, 189);
    padding: 6px;
}
a{
    color: rgb(0, 10, 194);
   text-decoration: none;
}
.float-right{
    float: right;
}
.w-20 {
    width: 30%;
}
.info{
    width: 90%;
    margin: auto;
    background-color: rgb(188, 212, 245);
    padding: 15px;
    padding-left: 25px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(187, 194, 198);
    border-left-width: 4px;
    line-height: initial;
}
img{
    width: 90%;
}
.w-40{
    width: 40%;
}
.nav-menu{
    width: 120px;
    border: 1px solid rgb(187, 194, 198);
    background-color: white;
}
.title-menu{
    background-color: rgb(234, 236, 238);
    margin: 0;
    padding: 5px 15px;
    border-bottom: 1px solid rgb(187, 194, 198);
    font-size: 1em;
}
.nav-list{
    padding-left: 25px;
}
.info-icon{
    font-size: 2.2em;
    font-family: serif;
    background-color: rgb(96, 158, 246);
    color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    padding: 2px;
    border: 2px solid rgb(187, 194, 198);
}
code{
    border: 1px solid rgb(187, 194, 198);
    background-color: white;
    padding:0 4px;
}